<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
</head>
<th:block th:replace="/fragments/bodyHeader :: bodyHeader"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
        <h1>우리는 버핏</h1>
    <p>회원가입이 완료되었습니다.</p>
</th:block>
<div th:replace="fragments/footer :: footer" />
</html>